/* Body text color */
body {
    color: black;
}

/* Menu title style */
.menu-title {
    text-align: center;
    width: 800px;
}

/* Style for h1 */
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333333;
    margin: 20px 0;
}

/* Style for h2 */
h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    color: #444444;
    margin: 18px 0;
}

/* Style for h3 */
h3 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #555555;
    margin: 15px 0;
}

/* Style for h4 */
h4 {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: #666666;
    margin: 12px 0;
}

/* Global paragraph styles */
p {
    line-height: 1.6;    /* Adjust line height for better readability */
    margin: 15px 0;      /* Adds space above and below paragraphs */
    padding: 0 10px;     /* Optional padding for extra space inside the paragraph block */
}

/* Style for menu descriptions */
.menu-description {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #444444;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Line height for list items */
li {
    margin-bottom: 10px;   /* Adds space below each list item */
    line-height: 1.6;      /* Keep line height for readability */
}

.image-container {
    display: flex; 
    gap: 30px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding: 10px;
}

.image-container img {
    width: 100%;                    /* Allow image to scale within its container */
    max-width: 200px;               /* Set a max width for each image */
    height: auto;                   /* Maintain the image’s aspect ratio */
    border-radius: 8px;             /* Optional: round the image corners */
}



